@{
    ViewData["Title"] = "Upload ZIP File";
}

<h2>Upload ZIP File</h2>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="zipFile">Select a ZIP file:</label>
        <input type="file" id="zipFile" name="zipFile" class="form-control" />
    </div>
    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">
        @ViewBag.Message
    </div>
}

<script>
    document.getElementById('zipFile').addEventListener('change', function (event) {
        var fileInput = event.target;
        var file = fileInput.files[0];
        if (file) {
            var newFileName = file.name.replace(/\s+/g, '');
            var dataTransfer = new DataTransfer();
            var newFile = new File([file], newFileName, { type: file.type });
            dataTransfer.items.add(newFile);
            fileInput.files = dataTransfer.files;

            console.log("Original file name: " + file.name);
            console.log("New file name: " + newFileName);
        }
    });
</script>
